<script src='https://content.jwplatform.com/libraries/rQxeW4hV.js'></script>
<script>jwplayer.key='RaNxXgxf';</script>

<div class="page-header">
<h3>Movie Insert</h3>
</div>
<div class="contactUs">
<form class="formInsert" role="form"
  action="/insert/submit" method="POST">
 
  <div class="form-group">
    <label for="fieldImdbId" class="col-sm-1 control-label">
    Imdb ID</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="fieldImdbId"
      name="imdbid">
    </div>
  </div> <!-- End of form-group -->
 <div class="form-group">
    <label for="fieldLink" class="col-sm-1 control-label">
    youtube link:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="fieldLink"
      name="link">
    </div>
  </div>
  <div class="form-group">
    <label for="fieldLink" class="col-sm-1 control-label">
    full movie link:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="fieldLink"
      name="full_link">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div> <!-- End of form-group -->
 
</form>
 
</div> <!-- End of contactUs -->
<div class="row movie_list">
  <div  class="col-md-12 col-xs-12 message"><h3>{{#if query.message}}{{query.message}}{{/if}}</h3></div>
  {{#each db}}
    <div class="col-md-3 col-xs-3 id_{{this.id}} movie_box">
    {{this.title}}({{{trimString this.release_date 0 4}}})  view:{{this.views}}
    {{#if this.movie_youtube_link}}
              <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{this.movie_youtube_link}}" allowfullscreen></iframe></div>
    {{/if}}
    {{#if this.movie_full_link2}}
      <div id="player{{@index}}">Loading the player...</div>
      <script>
      jwplayer("player{{@index}}").setup({
        image: 'http://image.tmdb.org/t/p/w780{{this.backdrop_path}}',
        file: "{{this.movie_full_link2}}"
      });
      </script>
    {{/if}}
    {{#if this.movie_full_link}}
      <div class="embed-responsive embed-responsive-16by9">
        <video  class="embed-responsive-item" controls="controls" >    
                 <source src="{{this.movie_full_link}}" type="video/mp4"> 
        </video>
      </div>
    {{/if}}
    <input class = "btnremove" type="button" value="remove" movie_id="{{this.id}}"/>
    <input class = "btnupdate" type="button" value="update" movie_id="{{this.id}}"/>{{this.imdbid}}
    </div>
  {{/each}}
</div>

<div class="row"> 
  <nav aria-label="discover movie">
    <ul class="pager">
      <li><a class="page_pre" href="javascript:void(0)" page=-1>Previous</a></li>
      <li class="page_num">1</li>
      <li><a class="page_next" href="javascript:void(0)"  page=2>Next</a></li>
    </ul>
  </nav>
</div>

<script type="application/javascript">
$(function() {
         
    $(".movie_list").on("click",'.btnremove',function() {
   
        id = $(this).attr('movie_id'); 
        console.log( id );
        $.ajax({
            dataType: 'json',
            jsonpCallback: '_wrapper',
            data: {"id":id},
            type: 'POST',
            url: "/delete",
            success: function (result) {
                  console.log('success');
                  $(".id_"+id).hide();
                }
            });
    });
    
    $(".movie_list").on("click",'.btnupdate',function() {
   
        id = $(this).attr('movie_id'); 
        $.ajax({
            dataType: 'json',
            jsonpCallback: '_wrapper',
            data: {"id":id},
            type: 'POST',
            url: "/update",
            success: function (result) {
                  //console.log(result.affected.value.title);
                  $(".message").html("success push "+result.affected.value.title);
                }
            });
    });
    
   $('.page_pre,.page_next').on("click",function() {
   
        topage = parseInt($(this).attr('page')); 
        $.ajax({
            dataType: 'json',
            jsonpCallback: '_wrapper',
            data: {"page":topage},
            type: 'POST',
            url: "/getmovies",
            success: function (result) {
                  console.log(result.movies);
                  $(".movie_box").remove();
                  $.each(result.movies, function (i, v) {
                      temp = '<div class="col-md-3 col-xs-3 id_'+v.id+' movie_box">'+v.title+' ('+v.release_date.substring( 0, 4 )+')  view:'+v.views+ ((v.movie_youtube_link) ? ('<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/'+v.movie_youtube_link+'" allowfullscreen></iframe></div>') : '')+((v.movie_full_link2) ? ('<div id="player'+i+'">Loading the player...</div><script>jwplayer("player'+i+'").setup({image:"http://image.tmdb.org/t/p/w780'+v.backdrop_path+'",file: "'+v.movie_full_link2+'"});</'+'script>') : '')+((v.movie_full_link) ? ('<div class="embed-responsive embed-responsive-16by9"><video  class="embed-responsive-item" controls="controls" ><source src="'+v.movie_full_link+'" type="video/mp4"></video></div>') : '')+'<input class = "btnremove" type="button" value="remove" movie_id="'+v.id+'"/><input class = "btnupdate" type="button" value="update" movie_id="'+v.id+'"/>'+v.imdbid+'</div>';
                      $(".movie_list").append(temp);
                  });
                  $('.page_num').html(topage);
                  $('.page_pre').attr('page',topage-1);
                  $('.page_next').attr('page',topage+1);
                }
            });
    });
});
</script>