{{#if movie.movie_full_link}}
<script src='https://content.jwplatform.com/libraries/rQxeW4hV.js'></script>
<script>jwplayer.key='RaNxXgxf';</script>
{{/if}}

<div class="row">
  <div class="col-md-9 col-xs-12 h1">{{movie.title}} ({{{trimString movie.release_date 0 4}}})</div>
  
</div>
<br>
<div class="row">
  <img  class="col-md-5 col-xs-12" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">
  <div class="col-md-7 col-xs-12">
     <div class="row ">
         
         <div class="col-md-8 col-xs-12 h4">Director:<h3>{{movie.directors}}</h3></div>
         
         <div class="col-md-8 col-xs-12 h4">Writer:<h3>{{movie.writers}}</h3></div>
         
         <div class="col-md-8 col-xs-12 h4">Cast:<h3>{{movie.cast}}</h3></div>
         <div class="col-md-8 col-xs-12 h4">Rating:<h3>{{movie.vote_average}}/10</h3></div>
         {{#if movie.views}}<div class="col-md-8 col-xs-12  h3">views: {{movie.views}}</div>{{/if}}<br><br>
     </div>
  </div>
  
</div>
<div class="row">
      <div class="col-md-12 col-xs-12"><a href="/movie/{{movie.id}}"><h2>More {{movie.title}} info ...</h2></a></div>
      <div class="col-md-12 col-xs-12"> <h1>HD Full Movie:</h1></div>
       <div class="col-md-12 col-xs-12">
            {{#if movie.movie_youtube_link}}
              <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{movie.movie_youtube_link}}" allowfullscreen></iframe></div><br><br>
            {{/if}}
            {{#if movie.movie_full_link}}
              <div class="alert alert-warning" role="alert">Please wait for few seconds to start! If your connection is slow, please pause the movie for 1-3 minutes then continue, it will run smoothly without lagging/buffering.</div>
              <div id="player">Loading the player...</div><br><br>
            {{/if}}
            <!--<div class="embed-responsive embed-responsive-16by9">
              <iframe id="embed_player" class="embed-responsive-item" src="//vidlink.org/embed/5ae1a22f914be6d66c2b041a" frameborder="0" allowfullscreen=""></iframe>
            </div>-->
            <div class="embed-responsive embed-responsive-16by9">
              <video  class="embed-responsive-item" controls="controls" >    
                       <source src="https://vidlink.org/redirect?url=https%3A%2F%2F00e9e64bacd03a053714ebdd3be26c14051e7ebc29ef7d120f-apidata.googleusercontent.com%2Fdownload%2Fdrive%2Fv3%2Ffiles%2F1tC6oAbLYLLQ5_AkUUEXbsEMGBdiIsquk%3Fqk%3DAD5uMEuvSg6ffVhuK0xdCu9egBjmFdOlT4sOrVrULPJJNi1UZl-qCoD90z8CGZ2pWI2UTRHQcLZXbwlA-WBGXS_laH7BfLhZYenc3ggQep5u3ohlk-Eu1V8fopVrgK8pQAqyBmkIXOfHcApuKK3RmjchK_whSlkAiV42tuSvhao5dazTErjgCYm3JOM2UtLsLRkzSj9LX1zPTL7KomzkwH60xzOIema-4VNQ-NUqvDHOyg5KGxcKmB_832JH76kl9UWu-InVJo3MCkigoMfU8pub_xzmzmWdqpFXkv118sdvXWayZAq_RG9VbdDpRiiDTsjwMQ28e_q5Rtdmpd9rlJ-ngcDNyCME2DBW_8F_TnckU6zi54M-sapf6uYWhlcjJUdY5dqA44akvb4rB568NA5UMNxzkDcBovgv-KbLBkjzxBdHQy_a_hlEX-Lb_0WL9yGLOGCwXCCsRJy95Sc09RgwuA1oQAsZqWQnjGucX6mK3V-gKVlkTQU1kFbeLrTdFzjemdIZ3_pYS2yjr4-Hk1FkAhbs9IJb94UY8gj7YbgDz06YRlYDCXCxCu9N0GjJ_pRnfu9Kqt_O3lUDw315iTeNOc3oUJ58KI2QN3RkO1Rkg0Kt548Qh705GNpyU3EOix9tCbT4KAUqgGs9im6dv6FMDsNGQhQV8j6WNtCdvGEjAva_9QT8uOCf7TpMd6WsHznM19T1H1pMRNtlMXVixrXo-PStgfoQJGVayDq_4HOyvoRkUsvUDOt2A-B1yPoZwOjOjCS05LnfqSjbtYQZlIrENd6JA-HRzCMRyQb_n3JsnSpyTBrawaMPoRBBXE6AsDG2N4BPncd6o4Yyji-RakL9Mn2a8-H-5RAd79Hh41oBpkKDa3D51mmrKYVJ6wsNG-8VdLTBkyb_1ZnvvceiQ8f_AV-uU-C03JxMpnyXCuXjaLcwo8V3J6I&size=2397962156" type="video/mp4"> 
              </video>
            </div>
     </div>
</div>
<div class="row related-movies">
     <div class="col-xs-12 h3">Related Movies:</div> 
</div>
<script id="movie-template" type="text/x-handlebars-template">
\{{#each movies}}
  <div class="col-xs-6 col-sm-4 col-md-4">
    <a class="thumbnail" href="/theater/\{{this.id}}">
      <img src="http://image.tmdb.org/t/p/w500/\{{this.poster_path}}" alt="">
      <div class="logos">
        <div class="rating">IMDB:<br>\{{this.vote_average}}</div>
        <div class="full_logo">Full</div>
      </div>
      <div class="caption">
        <h3>\{{this.title}} (\{{{trimString this.release_date 0 4}}})</h3>
      </div>
    </a>
  </div>
\{{/each}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
<script type="application/javascript">


{{#if movie.movie_full_link}}
// Setup the player
    const player = jwplayer('player').setup({
      file: '{{movie.movie_full_link}}',
      image: 'http://image.tmdb.org/t/p/w780{{movie.backdrop_path}}',
      volume: 90
    });
{{/if}}


$(function() {
  
  Handlebars.registerHelper('trimString', function(passedString, startstring, endstring){
       var theString = passedString.substring( startstring, endstring );
       return theString;
    });

  
  function getRelatedMovies(){
  
     genre = ["{{movie.genres.1.name}}","{{movie.genres.2.name}}"]; 
     $.ajax({
            dataType: 'json',
            jsonpCallback: '_wrapper',
            data: {"genre":genre},
            type: 'POST',
            url: "/getrelatedmovies",
            success: function (result) {
                  //console.log(result.affected.value.title);
                  
                  var source   = document.getElementById("movie-template").innerHTML;
                  var template = Handlebars.compile(source);
                  var html    = template(result);
                  $('.related-movies').append(html);
                }
            });
    
  
  }
  getRelatedMovies();
})
</script>