<script src='https://content.jwplatform.com/libraries/rQxeW4hV.js'></script>
<script>jwplayer.key='RaNxXgxf';</script>

<div class="row">
  <div class="col-md-9 col-xs-12 h1">{{movie.title}} ({{{trimString movie.release_date 0 4}}})</div>
  
</div>
<br>
<div class="row">
  <img  class="col-md-5 col-xs-12" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">
  <div class="col-md-7 col-xs-12">
     <div class="row ">
         
         <div class="col-md-8 col-xs-12 h4">Director:<h3>{{movie.directors}}</h3></div>
         
         <div class="col-md-8 col-xs-12 h4">Writer:<h3>{{movie.writers}}</h3></div>
         
         <div class="col-md-8 col-xs-12 h4">Cast:<h3>{{movie.cast}}</h3></div>
         <div class="col-md-8 col-xs-12 h4">Rating:<h3>{{movie.vote_average}}/10</h3></div>
         {{#if movie.views}}<div class="col-md-8 col-xs-12  h3">views: {{movie.views}}</div>{{/if}}<br><br>
     </div>
  </div>
  
</div>
<div class="row">
      <div class="col-md-12 col-xs-12"><a href="/movie/{{movie.id}}"><h2>More {{movie.title}} info ...</h2></a></div>
      <div class="col-md-12 col-xs-12"> <h1>HD Full Movie:</h1></div>
       <div class="col-md-12 col-xs-12">
            <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{movie.movie_link}}" allowfullscreen></iframe></div><br><br>
            <!--<div id="player">Loading the player...</div>-->
     </div>
</div>
<div class="row related-movies">
     <div class="col-xs-12 h3">Related Movies:</div> 
</div>
<script id="movie-template" type="text/x-handlebars-template">
\{{#each movies}}
  <div class="col-xs-6 col-sm-4 col-md-4">
    <a class="thumbnail" href="/theater/\{{this.id}}">
      <img src="http://image.tmdb.org/t/p/w500/\{{this.poster_path}}" alt="">
      <div class="logos">
        <div class="rating">IMDB:<br>\{{this.vote_average}}</div>
        <div class="full_logo">Full</div>
      </div>
      <div class="caption">
        <h3>\{{this.title}} (\{{{trimString this.release_date 0 4}}})</h3>
      </div>
    </a>
  </div>
\{{/each}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
<script type="application/javascript">

// Setup the player
    const player = jwplayer('player').setup({
      file: 'http://link2.ntcdn.us/s7_ntcdn_us/new/003/Tomb.Raider%202018%20720p%20ENG%20HDCAM%20MP3%20-%20Makintos13.mp4',
      volume: 10
    });

$(function() {
  
  Handlebars.registerHelper('trimString', function(passedString, startstring, endstring){
       var theString = passedString.substring( startstring, endstring );
       return theString;
    });

  
  function getRelatedMovies(){
  
     genre = ["{{movie.genres.1.name}}","{{movie.genres.2.name}}"]; 
     $.ajax({
            dataType: 'json',
            jsonpCallback: '_wrapper',
            data: {"genre":genre},
            type: 'POST',
            url: "/getrelatedmovies",
            success: function (result) {
                  //console.log(result.affected.value.title);
                  
                  var source   = document.getElementById("movie-template").innerHTML;
                  var template = Handlebars.compile(source);
                  var html    = template(result);
                  $('.related-movies').append(html);
                }
            });
    
  
  }
  getRelatedMovies();
})
</script>